#
# Users should change these
# ------------------------------------------------------------------

#
# COMPILERS
# =================================
CXX           = clang++
CXXFLAGS      = -g -std=c++11 -Wall -Wshadow

#
# gfortran for fortran kernels
# ---------------------------------
FC            = gfortran
FCFLAGS      = -fimplicit-none -free -g3 -fbounds-check -fbacktrace
FC_LIB_ROOT   ?= /usr/local/Cellar/gcc/8.2.0/lib/gcc/8
GFORTRAN_FLAGS = -L$(FC_LIB_ROOT) -lgfortran


#
# REQUIRED LIBRARIES
# =================================
#
# requires MPI
# ---------------------------------
MPICXX = /usr/local/Cellar/open-mpi/3.1.3/bin/mpic++
#MPI_LIB_ROOT = /usr/local/Cellar/open-mpi/3.1.3
#MPI_INC_FLAGS = -I$(MPI_LIB_ROOT)/include
MPI_EXEC_GLOBAL_ARGS = --oversubscribe

#
# requires NETCDF
# ---------------------------------
NETCDF_ROOT = /Users/uec/codes/anaconda/3/
NETCDF_INC_FLAGS = -I$(NETCDF_ROOT)/include
NETCDF_FLAGS = -L$(NETCDF_ROOT)/lib -lnetcdf -lhdf5 -lhdf5_hl -lz 

PNETCDF_ROOT = /Users/uec/codes/pnetcdf/install-master
PNETCDF_FLAGS = -L$(PNETCDF_ROOT)/lib -lpnetcdf
PNETCDF_INC_FLAGS = -I$(PNETCDF_ROOT)/include

#
# requires ELM datasets
# ---------------------------------
# Available from: git clone https://code.ornl.gov/isp/acme_inputdata
#ELM_DATA_LOCATION ?= /home/7hp/Downloads/acme_inputdata
ATM_DATA_LOCATION = '"/Users/uec/codes/elm/kernels/repos/gswp_forcing/atm/datm7/atm_forcing.datm7.GSWP3.0.5d.v2.c180716"'
ELM_DATA_LOCATION = '"/Users/uec/codes/elm/kernels/repos/gswp_forcing/lnd/clm2/surfdata_map"'
ELM_UTILS_DIR = cime_utils

# this library
ELM_FLAGS = -L$(ELM_ROOT) -lelm
ELM_INC_FLAGS = -I$(ELM_ROOT)

#
# LIBRARIES FOR SPECIFIC TESTS
# =================================
#
# Kokkos tests
# ---------------------------------
#KOKKOS_PATH ?= ${HOME}/Downloads/kokkos
#KOKKOS_PATH ?= ${AMANZI_TPLS_BUILD_DIR}/trilinos/trilinos-12-14-1_master-source/packages/kokkos
KOKKOS_PATH = /Users/uec/codes/kokkos/repos/master
KOKKOS_ARCH = OpenMP

# assumes you have a working CUDA for CUDA builds
#NVCC=nvcc
#CUDA_FLAGS ?= -std=c++17 -c -arch=sm_60
#CUDA_LIBS= -lopenblas -lpthread -lcudart -lcublas
#CUDA_LIBDIRS=/usr/local/cuda-10.0/lib64
#CUDA_INCDIRS=-I/usr/local/cuda-10.0/include


#
# Legion tests
# ---------------------------------
LG_RT_DIR ?= /Users/uec/codes/legion/repos/dev/runtime