#
# Summit config file
# ------------------------------------------------------------------

# REQUIRED LIBRARIES
# =================================
#

#
# MPI
#
MPIEXEC = jsrun
MPI_NP = --np=

#
# requires parallel NETCDF
# ---------------------------------
PNETCDF_ROOT = ${OLCF_PARALLEL_NETCDF_ROOT}
PNETCDF_FLAGS = -L$(NETCDF_ROOT)/lib -lpnetcdf #-lhdf5 -lhdf5_hl -lz 
PNETCDF_INC_FLAGS = -I$(NETCDF_ROOT)/include

NETCDF_ROOT = ${OLCF_NETCDF_ROOT}
NETCDF_FLAGS = -L$(NETCDF_ROOT)/lib ${NETCDF_LIBS}
NETCDF_INC_FLAGS = -I$(NETCDF_ROOT)/include

#
# requires ELM datasets
# ---------------------------------
ELM_UTILS_DIR = cime_utils

# this library
ELM_FLAGS = -L$(ELM_ROOT) -lelm
ELM_INC_FLAGS = -I$(ELM_ROOT)

