#
# Users should change these
# ------------------------------------------------------------------

#
# COMPILERS
# =================================
CC	      = mpicc
#CC            ?= clang

CXX	      = mpicxx
#CXX           ?= clang++
CXXFLAGS      ?= -g -Wall -Wshadow -std=c++17
STD_LIB_ROOT  = /usr
STD_LIB_FLAG = -L$(STD_LIB_ROOT)/lib -lstdc++

#
# gfortran for fortran kernels
# ---------------------------------
FC            ?= gfortran
FC_FLAGS       ?= -fimplicit-none -free -g3 -fbounds-check -fbacktrace
FC_LIB_ROOT   ?= /sw/summit/gcc/6.4.0/lib64
GFORTRAN_FLAGS = -L$(FC_LIB_ROOT) -lgfortran


#
# REQUIRED LIBRARIES
# =================================
#
# requires MPI
# ---------------------------------

MPI_LIB_ROOT ?= /autofs/nccs-svm1_sw/summit/.swci/1-compute/opt/spack/20180914/linux-rhel7-ppc64le/gcc-7.4.0/spectrum-mpi-10.3.0.1-20190611-mto4jwjeylfm6xdlb5yhaphpgnyzcvh7
#/autofs/nccs-svm1_sw/summit/.swci/1-compute/opt/spack/20180914/linux-rhel7-ppc64le/gcc-6.4.0/spectrum-mpi-10.3.0.1-20190611-cyaenjgora6now2nusxzkfli4mzjnudx
MPICC         ?= mpicc
MPICXX	      ?= mpicxx
MPI_INC_FLAGS = -I$(MPI_LIB_ROOT)/include

#
## requires NETCDF
# ---------------------------------

NETCDF_ROOT = /autofs/nccs-svm1_sw/summit/.swci/0-core/opt/spack/20180914/linux-rhel7-ppc64le/gcc-4.8.5/netcdf-4.6.2-ouocjbxiwypuk3lbyrwog7n572kpko7c
#/autofs/nccs-svm1_sw/summit/.swci/1-compute/opt/spack/20180914/linux-rhel7-ppc64le/gcc-6.4.0/netcdf-4.6.1-go7lddqyagejt2zi75hrg5h2y3hm246y
NETCDFF_ROOT = /autofs/nccs-svm1_sw/summit/.swci/1-compute/opt/spack/20180914/linux-rhel7-ppc64le/gcc-7.4.0/netcdf-fortran-4.4.4-qoqcgnaguzdvcbj4mg65667bakh7hlva
#/autofs/nccs-svm1_sw/summit/.swci/1-compute/opt/spack/20180914/linux-rhel7-ppc64le/gcc-6.4.0/netcdf-fortran-4.4.4-urht6u7n2nj5xseodsdxpr3epxw2he4b
NETCDF_FLAGS = -L$(NETCDF_ROOT)/lib -lnetcdf -lhdf5 -lhdf5_hl -lz
NETCDFF_FLAGS = -L$(NETCDFF_ROOT)/lib -lnetcdff
NETCDF_INC_FLAGS = -I$(NETCDF_ROOT)/include
NETCDFF_INC_FLAGS = -I$(NETCDFF_ROOT)/include

#
# requires PNETCDF
# ---------------------------------
PNETCDF_ROOT = /autofs/nccs-svm1_sw/summit/.swci/1-compute/opt/spack/20180914/linux-rhel7-ppc64le/gcc-7.4.0/parallel-netcdf-1.8.1-xi6htoa3pactgxetzp32cdgk5ghap3zs
#/autofs/nccs-svm1_sw/summit/.swci/1-compute/opt/spack/20180914/linux-rhel7-ppc64le/gcc-6.4.0/parallel-netcdf-1.8.1-kwgjboej6pz7ccvg6rdiqfjxkyoeaciv
PNETCDF_FLAGS = -L$(NETCDF_ROOT)/lib -lpnetcdf #-lhdf5 -lhdf5_hl -lz 
PNETCDFF_FLAGS = -L$(NETCDF_ROOT)/lib -lpnetcdff
PNETCDF_INC_FLAGS = -I$(PNETCDF_ROOT)/include

#
# requires ELM datasets
# ---------------------------------
# Available on CADES at: /lustre/or-hydra/cades-ccsi/proj-shared/project_acme/ACME_inputdata/atm/datm7/atm_forcing.datm7.GSWP3.0.5d.v2.c180716
ATM_DATA_LOCATION ?= \"/gpfs/alpine/proj-shared/geo132/Elm_Kernels/data/atm/datm7/atm_forcing.datm7.GSWP3.0.5d.v2.c180716\"
# Available on CADES at: /lustre/or-hydra/cades-ccsi/proj-shared/project_acme/ACME_inputdata/lnd/clm2/surfdata_map/
ELM_DATA_LOCATION ?= \"/gpfs/alpine/proj-shared/geo132/Elm_Kernels/data/lnd/clm2/surfdata_map\"

ELM_UTILS_DIR = cime_utils

# this library
ELM_FLAGS = -L$(ELM_ROOT) -lelm
ELM_INC_FLAGS = -I$(ELM_ROOT)

#
# LIBRARIES FOR SPECIFIC TESTS
# =================================
#
# Kokkos tests
# ---------------------------------
# (defined in Summit modulefile)
KOKKOS_ROOT ?= ${KOKKOS_ROOT}
KOKKOS_CXX_STANDARD = "c++11"
KOKKOS_DEVICES ?= Serial
KOKKOS_ARCH ?= "BSW"

#CXX = ${KOKKOS_ROOT}/bin/nvcc_wrapper
#KOKKOS_ARCH = "BSW,Pascal60"
#KOKKOS_CUDA_OPTIONS = "enable_lambda"

# assumes you have a working CUDA for CUDA builds
NVCC=nvcc
CUDA_FLAGS ?= -std=c++17 -c -arch=sm_60
CUDA_LIBS= -lopenblas -lpthread -lcudart -lcublas
CUDA_LIBDIRS=/sw/summit/cuda/10.1.168/lib64
CUDA_INCDIRS=-I/sw/summit/cuda/10.1.168/include


#
# Legion tests
# ---------------------------------
#LG_RT_DIR ?= /Users/uec/codes/legion/repos/dev/runtime
