#
# Summit config file
# ------------------------------------------------------------------

# REQUIRED LIBRARIES
# =================================
#

NVCC_WRAPPER_DEFAULT_COMPILER = ${OLCF_XLC_ROOT}/bin/xlc++_r
CXX = ${OLCF_XLC_ROOT}/bin/xlc++_r
MPICXX = ${MPI_ROOT}/bin/mpic++

CXXFLAGS = -Wall -g -Wno-missing-braces

#
# MPI
#
MPIEXEC = jsrun
MPI_NP = --np=

#
# requires parallel NETCDF
# ---------------------------------
PNETCDF_ROOT = ${OLCF_PARALLEL_NETCDF_ROOT}
PNETCDF_FLAGS = -L$(PNETCDF_ROOT)/lib -lpnetcdf
PNETCDF_INC_FLAGS = -I$(PNETCDF_ROOT)/include

NETCDF_ROOT = ${OLCF_NETCDF_ROOT}
NETCDF_FLAGS = -L$(NETCDF_ROOT)/lib ${NETCDF_LIBS}
NETCDF_INC_FLAGS = -I$(NETCDF_ROOT)/include

#
# requires ELM datasets
# ---------------------------------
ELM_UTILS_DIR = cime_utils

# this library
ELM_FLAGS = -L$(ELM_ROOT) -lelm
ELM_INC_FLAGS = -I$(ELM_ROOT)

