#
# Users should change these
# ------------------------------------------------------------------

#
# COMPILERS
# =================================
CC	      = mpicc
#CC            ?= clang

CXX	      = mpic++
#CXX           ?= clang++
CXXFLAGS      ?= -g -Wall -Wshadow -std=c++17
STD_LIB_ROOT  = /usr
STD_LIB_FLAG = -L$(STD_LIB_ROOT)/lib -lstdc++

#
# gfortran for fortran kernels
# ---------------------------------
FC            ?= gfortran
FC_FLAGS       ?= -fimplicit-none -free -g3 -fbounds-check -fbacktrace
FC_LIB_ROOT   ?= /usr/lib/gcc/x86_64-linux-gnu/8
GFORTRAN_FLAGS = -L$(FC_LIB_ROOT) -lgfortran
#FC_LIB_ROOT   ?= /usr/local/Cellar/gcc/8.2.0/lib/gcc/8


#
# REQUIRED LIBRARIES
# =================================
#
# requires MPI
# ---------------------------------
MPI_LIB_ROOT ?= /usr/lib/x86_64-linux-gnu/openmpi
#MPI_LIB_ROOT = /usr/local/Cellar/open-mpi/3.1.3
MPICC         ?= mpicc
MPICXX	      ?= mpic++
MPI_INC_FLAGS = -I$(MPI_LIB_ROOT)/include

#
# requires NETCDF
# ---------------------------------
NETCDF_ROOT = /home/47m/PnetCDF
#NETCDF_ROOT ?= $(AMANZI_TPLS_DIR)
NETCDF_FLAGS = -L$(NETCDF_ROOT)/lib -lpnetcdf #-lhdf5 -lhdf5_hl -lz 
NETCDFF_FLAGS = -L$(NETCDF_ROOT)/lib -lpnetcdff
NETCDF_INC_FLAGS = -I$(NETCDF_ROOT)/include

#
# requires ELM datasets
# ---------------------------------
# Available on CADES at: /lustre/or-hydra/cades-ccsi/proj-shared/project_acme/ACME_inputdata/atm/datm7/atm_forcing.datm7.GSWP3.0.5d.v2.c180716
ATM_DATA_LOCATION ?= \"/home/47m/ELM_scalability/data/atm/datm7/atm_forcing.datm7.GSWP3.0.5d.v2.c180716\"
# Available on CADES at: /lustre/or-hydra/cades-ccsi/proj-shared/project_acme/ACME_inputdata/lnd/clm2/surfdata_map/
ELM_DATA_LOCATION ?= \"/home/47m/ELM_scalability/data/lnd/clm2/surfdata_map\"

ELM_UTILS_DIR = cime_utils

# this library
ELM_FLAGS = -L$(ELM_ROOT) -lelm
ELM_INC_FLAGS = -I$(ELM_ROOT)

#
# LIBRARIES FOR SPECIFIC TESTS
# =================================
#
# Kokkos tests
# ---------------------------------
KOKKOS_PATH ?= ${HOME}/Downloads/kokkos
#KOKKOS_PATH ?= ${AMANZI_TPLS_BUILD_DIR}/trilinos/trilinos-12-14-1_master-source/packages/kokkos

# assumes you have a working CUDA for CUDA builds
NVCC=nvcc
CUDA_FLAGS ?= -std=c++17 -c -arch=sm_60
CUDA_LIBS= -lopenblas -lpthread -lcudart -lcublas
CUDA_LIBDIRS=/usr/local/cuda-10.0/lib64
CUDA_INCDIRS=-I/usr/local/cuda-10.0/include


#
# Legion tests
# ---------------------------------
#LG_RT_DIR ?= /Users/uec/codes/legion/repos/dev/runtime
